{% extends 'layouts.html' %}
{% load static %}
{% block title %}
All Religion Supports Organ Donation
{% endblock %}
{% block style %}
<style media="screen">
  section{
    padding:2rem 0;
  }
</style>
{% endblock %}
{% block content %}
<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs d-flex align-items-center" style="background-image: url('/static/img/about-header.jpg');">
    <div class="container position-relative d-flex flex-column align-items-center">

      <h2>All Religion Supports Organ Donation</h2>
      <ol>
        <li><a href="{% url 'home'%}">Home</a></li>
        <li>All Religion Supports Organ Donation</li>
      </ol>

    </div>
  </div><!-- End Breadcrumbs -->


  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

      <div class="row g-5">

        <div class="col-lg-12" data-aos="fade-up" data-aos-delay="200">

          <article class="blog-details">
            <h2 class="title">All Religion Support Organ Donation</h2>
            <div class="content">
            <div class="row">
              <div class="col-md-6">
                  <img src="{% static 'img/28.jpeg'%} " alt="" class="img-fluid">

              </div>
              <div class="col-md-6">

                <p>
                  No religious law prohibits Hindus from donating their organs and tissues.
                </p>
                <p>
                  Life after death is a strong belief of Hindus and is an ongoing process of rebirth. This could be seen as reflecting positively on the concept of organ donation and transplantation.
                </p>
                <p>A minority argument, though, says that if someone donates an organ as intrinsic to the body as a heart, the principle of karma means the recipient will have to return the favour in the donor’s next life – which means the donor will have to have a next life. Hindus hope to be liberated from the cycle of rebirth, so this would be a disadvantage. However, most Hindus would view this argument as selfish.</p>
                <p>According to Shaunaka Rishi Das of the Oxford Centre for Vaishnava and Hindu Studies, most Hindus take the view that after the soul has departed, the body is no more than a machine, and there is nothing to stop the parts being shared with others.</p>
            </div>

        </div>



    </div>
  </section>

  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

      <div class="row g-5">

        <div class="col-lg-12" data-aos="fade-up" data-aos-delay="200">

          <article class="blog-details">
            <h2 class="title">Scripture</h2>
            <div class="content">
            <div class="row">
              <div class="col-md-6">
                <p>
                  Decisions about organ donation and transplantation are left to individuals to make, but there are many references that support the concept of organ donation in Hindu scriptures.
                </p>
                <p>
                  In the list of ten Niyamas (or virtuous acts) in the Hindu scriptures, Daan (or selfless giving) is third, and is held as being very significant within the Hindu faith.
                </p>
                <p>That which sustains is accepted and promoted as Dharma (righteous living). This could also be seen as supporting the idea of organ donation.</p>
                <p>But, the only constraint on the idea of organ donation is imposed by the very nature of Dharma.</p>
                <p>Every act or intention of anyone should be dharmik. Therefore, it is right to donate organs, only if the act of donating an organ has beneficial results.</p>

            </div>
            <div class="col-md-6">
              <!-- <div class="post-img"> -->
                <img src="{% static 'img/15.jpg'%} " alt="" class="img-fluid">
              <!-- </div> -->
            </div>

        </div>
        <p>In Hindu mythology there are also traditions which support the use of body parts to benefit others.</p>
        <p>Scientific papers also form an important part of the Vedas. Sage Sushruta looks at features of organ and limb transplants, and Sage Charaka deals with internal medicine.</p>


    </div>
  </section><!-- End Blog Details Section -->

  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

      <div class="row g-5">

        <div class="col-lg-12" data-aos="fade-up" data-aos-delay="200">

          <article class="blog-details">
            <h2 class="title">Sikhism</h2>
            <div class="content">
            <div class="row">
              <div class="col-md-6">
                  <img src="{% static 'img/16.jpg'%} " alt="" class="img-fluid">

              </div>
              <div class="col-md-6">

                <p>
                  Sikhism has no taboos attached to organ donation and transplant. Sikhs also believe that your body does not need all its organs at or after death.
                </p>
                <p>
                  Making a donation is your choice. But it can be understood differently even in the same religious groups.</p>
                <p>Donating organs after death is acceptable to Sikhs.</p>
                <p>The Sikh philosophy and teachings supports the importance of giving and putting others before oneself.</p>
                <p>Guru Nanak (founder of the Sikh faith and first of ten Gurus) and Guru Granth Sahib (Sikh Holy Scripture) Sikh Gurus devoted their lives to humanity and sacrificed their lives looking after the welfare of others.</p>
                <p><b>Seva</b> is at the core of being a Sikh:</p>
                <ul>
                  <li>to give without seeking reward or recognition</li>
                  <li>the Eternal knows and appreciated all seva.</li>
                </ul>
            </div>

        </div>

        <p>Seva can also be about donating your organ to another.</p>
        <p>Sikhism stresses that saving a human life is one of the noblest things you can do. There are many examples of selfless giving and sacrifice in Sikh teachings by the <b>ten Gurus</b> and other Sikh.</p>



    </div>
  </section>

  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

      <div class="row g-5">

        <div class="col-lg-12" data-aos="fade-up" data-aos-delay="200">

          <article class="blog-details">
            <h2 class="title">Life after death</h2>
            <div class="content">
            <div class="row">
              <div class="col-md-6">
                <p>Sikhs believe:</p>
                <ul>
                  <li>In life after death</li>
                  <li>A cycle of rebirth</li>
                  <li>That the physical body is not needed in this cycle</li>
                  <li>A person’s soul is eternal</li>
                  <li>The body is just flesh and perishable.</li>
                </ul>
                <p>If another person can use organs from a Sikh’s body, this is a good thing.</p>
                <p>Sikhism and organ donation</p>
                <p>Sikhs have no objections to the donation and transplantation of organs.</p>
                <p>Sikh philosophy and teachings place great emphasis on the importance of giving and putting others before oneself.</p>
                <p>Sikh teachings also stress the importance of noble deeds, selfless giving and sacrifice. This is exemplified by the behaviour of the ten Gurus in the Sikh teachings.</p>

            </div>
            <div class="col-md-6">
              <!-- <div class="post-img"> -->
                <img src="{% static 'img/17.jpg'%} " alt="" class="img-fluid">
              <!-- </div> -->
            </div>

        </div>
        <p>Saving a human life is one of the greatest things one can do according to the Sikh religion. For this reason, donating organs after death is acceptable to Sikhs.</p>
        <p>Sikhs believe in life after death, and a continuous cycle of rebirth. But the physical body is not needed in this cycle. The soul of a person is eternal, but the body is simply flesh and perishable.</p>
        <p>If another person can make use of organs from a Sikh’s body, this is a good thing.</p> important part of the Vedas. Sage Sushruta looks at features of organ and limb transplants, and Sage Charaka deals with internal medicine.</p>


    </div>
  </section><!-- End Blog Details Section -->

  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

      <div class="row g-5">

        <div class="col-lg-12" data-aos="fade-up" data-aos-delay="200">

          <article class="blog-details">
            <h2 class="title">Buddhism and organ donation</h2>
            <div class="content">
            <div class="row">
              <div class="col-md-6">
                  <img src="{% static 'img/18.jpg'%} " alt="" class="img-fluid">

              </div>
              <div class="col-md-6">
                <p>There are no rules in Buddhism for or against organ donation, but central to Buddhism is a wish to relieve suffering.</p>

                <p>There may also be occasions when organ donation may be seen as an act of charity.</p>

                <p>In Buddhism the decision for or against organ donation relies very much on an individual’s decision. People may decide for or against it, without one choice being seen as right, and the other wrong.</p>

                <p>The needs and wishes of a potential donor should not be compromised by the wish to save a life.</p>

                <p>The death process of an individual is viewed as very important, and a body should be treated with respect. However, there are no beliefs that say the body should be preserved in its entirety, so removing organs is not an issue from this point of view.</p>

                <p>A dead body, however, should only be disturbed for appropriate reasons, and with special care.</p>



            </div>

        </div>
        <p>It is also important to consider the consciousness of the dead person, and whether this might be adversely affected by organ donation, as the surgery takes place immediately after the donor takes their last breath.</p>

        <p>Some Buddhists, including those who are followers of Tibetan Buddhism, believe the consciousness may stay in the body for some time after the breath has stopped.</p>

        <p>Until the consciousness leaves the body it is important the body remains undisturbed, so Tibetan Buddhists may have some concerns that an operation so soon after death may damage their consciousness and cause harm to their future lives.</p>

        <p>But others may decide this final act of generosity can only have positive ramifications.</p>


    </div>
  </section>

  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

      <div class="row g-5">

        <div class="col-lg-12" data-aos="fade-up" data-aos-delay="200">

          <article class="blog-details">
            <h2 class="title">Christianity and organ donation</h2>
            <div class="content">
            <div class="row">
              <div class="col-md-6">
                <p>Sacrifice and helping others are key themes across all forms of Christianity, and therefore a decision to donate organs is seen as a positive thing.</p>
                <p>Christians should be encouraged to help others in need. They look upon organ donation as an act of love, and a way of following Jesus’ example.</p>


                <p>All mainstream Protestant denominations support organ donation, whether they see it as an individual choice motivated by compassion, or encourage it as an act of charity.The Vatican strongly supports organ donation. Pope John Paul II, in an address to the participants of the Society for Organ Sharing, said:</p>

                <blockquote >
                  With the advent of organ transplantation, which began with blood transfusion, man has found a way to give of himself, of his blood and of his body, so that others may continue to live.
                  Pope John Paul II
                </blockquote>

            </div>
            <div class="col-md-6">
              <!-- <div class="post-img"> -->
                <img src="{% static 'img/19.jpg'%} " alt="" class="img-fluid">
              <!-- </div> -->
            </div>
            <p>Eastern Orthodox Christianity, most Pentecostal and evangelical churches also support organ donation, as do the Amish.</p>

        </div>


    </div>
  </section><!-- End Blog Details Section -->

  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

      <div class="row g-5">

        <div class="col-lg-12" data-aos="fade-up" data-aos-delay="200">

          <article class="blog-details">
            <h2 class="title">Judaism and organ donation</h2>
            <div class="content">
            <div class="row">
              <div class="col-md-6">
                  <img src="{% static 'img/20.jpg'%} " alt="" class="img-fluid">

              </div>
              <div class="col-md-6">
                <p>In principle, Judaism supports and encourages organ donation in order to save lives (pikuach nefesh).</p>

                <p>This principle can sometimes override the strong objections to any unnecessary interference with the body after death (nivul hamet), and the requirement for immediate burial of the complete body.</p>

                <p>As all cases are different, Jewish law requires consultation with a competent Rabbinic authority before consent is granted.</p>

                <p>If an organ is needed for a specific, immediate transplant then it could be considered a great honour for a Jew to donate organs to save another person’s life.</p>

                <p>But if the organs were being donated into an organ bank, or for medical research, then this may be looked on less favourably.</p>

                <p>There is also the concern that during the transplant operation, the doctor may remove the organ that is being donated before the patient is actually dead according to Jewish law. This could be seen as effectively killing the patient, which is obviously forbidden.</p>


            </div>

        </div>
        <blockquote>
          One who saves a single life – it is as if he has saved an entire world
        </blockquote>
    </div>
  </section>


</main><!-- End #main -->

{% endblock %}
