{% extends 'layouts.html' %}
{% load static %}
{% block title %}
Awareness/Lightening Up Light
{% endblock %}
{% block style %}
<style media="screen">

</style>
{% endblock %}
{% block content %}
<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs d-flex align-items-center" style="background-image: url('/static/img/about-header.jpg');">
    <div class="container position-relative d-flex flex-column align-items-center">

      <h2>Awareness/Lightening Up Light</h2>
      <ol>
        <li><a href="{% url 'home'%}">Home</a></li>
        <li>Awareness/Lightening Up Light</li>
      </ol>

    </div>
  </div><!-- End Breadcrumbs -->


  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

      <div class="row g-5">

        <div class="col-lg-12" data-aos="fade-up" data-aos-delay="200">
          <article class="blog-details">
            <h3 class="title">Awareness/ Lightening up Light</h3>
            <div class="content">
              <div class="row">
                <div class="col-md-6">
                  <p>In India every day around 6000 people are waiting for an organ for transplant.</p>
                  <p>Every 13th minute someone is added on the waiting list for organ donor.</p>
                  <p>Every 17th minute a human dies waiting for an organ donor to carry out transplant.</p>
                  <p>Awareness begins from home. Once you start lightening up a light at your home that itself lighten up your home with knowledge and awareness. This simultaneously multiplies your number with the family members.</p>
                  <p>Spreading awareness is a very important aspect of Organ Donation process because the role of society is a crucial part especially in case of cadaver transplants. Today, it is an urgent requirement to educate people about the organ donation and its related information so that we can save more and more lives.</p>

                </div>
                <div class="col-md-6">
                    <img src="{% static 'img/12.jpg'%} " alt="" class="img-fluid">
                </div>
              </div>
              <p>It is also important because general people have so many myths and misconceptions regarding organ donation which needs to be cleared on first priority. This is a major reason for decreasing number of available and volunteer donors. With small steps and contribution if we can create some volunteers like us then we can’t imagine how many lives can be saved by just a simple step.</p>
              <p>It should not be considered only a personal concern but also it is our responsibility as a citizen of our country to help mankind and our countrymen for the benefit and development of the nation. The medical science also needs our support to create the magic of life for those numerous heart-broken lives who have no hope to survive.</p>
              <blockquote>
                <p>Be a source of light….</p>
              </blockquote>

    </div>
    </article>
    </div>

    </div>
    </div>
  </section><!-- End Blog Details Section -->






</main><!-- End #main -->

{% endblock %}
