{% extends 'layouts.html' %}
{% load static %}
{% block title %}
News
{% endblock %}
{% block style %}
<style media="screen">
  section{
    padding:2rem 0;
  }
  .blog-details span{
    color: #413F42;
font-weight: 900;
font-style: italic;
font-size: 0.9rem;
  }
</style>
{% endblock %}
{% block content %}
<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs d-flex align-items-center" style="background-image: url('/static/img/about-header.jpg');">
    <div class="container position-relative d-flex flex-column align-items-center">

      <h2>News</h2>
      <ol>
        <li><a href="{% url 'home'%}">Home</a></li>
        <li>News</li>
      </ol>

    </div>
  </div><!-- End Breadcrumbs -->


  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

      <div class="row g-5">

        <div class="col-lg-12" data-aos="fade-up" data-aos-delay="200">

          <article class="blog-details">
            <h2 class="title">65+ can now register for organ transplant as government alters norms </h2>
            <span>February 10, 2023</span>
            <div class="content">

                <p>The Union health ministry on Thursday modified natural organ transplantation guidelines to allow even those above 65 years of age to register an organ transplant from decreased donors, according to people familiar with the matter</p>
                <p>The chnage, which is an acknowlegement of the increasing longevity of Indians, will also make it possible for several end-stage patients suffering from organ related diseases to make it to the waitlist.</p>
                <p>The upper age limit has been removed as people are now living longer, said a senior functionary from the health ministry who asked not to be named.</p>
                <p>"Earlier, according to the NOTTO(National Organ and Tissue Transplant Organization) guidelines, an end-stage organ failure paatient above 65 years of age was prohibited from regisering to receive the organ.The government of India has taken a decision to remove this upper age limit"</p>
                <p>The ministry has also decided to remove the domicile requirement to register as an organ recipient in a particular state.</p>
            </div>

        </div>
    </div>
  </section>


  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

      <div class="row g-5">

        <div class="col-lg-12" data-aos="fade-up" data-aos-delay="200">

          <article class="blog-details">
            <h2 class="title">2 saved as family of 16-month-old brain-dead boy donates his organs</h2>
            <span>August 26, 2022</span>
            <div class="content">

                <p>A toddler who was declared brain dead at the All India Institute of Medical Sciences(AIIMS) on Wednesday gave a new lease of life to at least two children after his family donated his organs, the hospital said.</p>
                <p>At 16 months, Rishant is also the youngest organ donor ever at AIIMS Delhi,  according to doctors.</p>
                <p>A resident of east Delhi's Yamuna Park, Rishant fell at his home on August 17 and sustained severe injuries to his head.</p>
                <p>His father, Upinder Kumar, a private contractor, was on his way to work at the time. He rushed back and took the baby to a private hospital near his residence.</p>
                <p>Rishant was later was admitted to AIIMS Jai Prakash Narayan Apex Trauma Centre(JPNATC) and was declared brain dead on August 24.</p>
                <p>"I had left for work when I received the call about the accident, and I rushed back. We first took him to a local hospital and they referred him to AIIMS. The doctors told us Rishant had sustained a severe head injury and it would be difficult to save him. Pm Wednesday, he was declared brain dead," said Kumar.</p>
            </div>

        </div>
    </div>
  </section>

  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

      <div class="row g-5">

        <div class="col-lg-12" data-aos="fade-up" data-aos-delay="200">

          <article class="blog-details">
            <h2 class="title">First Hand Transplant</h2>
            <span>September 28, 2018</span>
            <div class="content">

                <p>Seven months after surgery , Tamil Nadu’s first bilateral has started to tap a ball use a mobile phone and drink water by holding a glass.</p>
                <p>In a surgery that lasted 13 hrs, doctors transplanted two hands from a brain dead donor on Narayanasamy in February this year. Narayanasamy, a mason, lost both hands in an electrocution in August 2015.
The journey was tough, his family was devastated when his hands were amputated. He came to Stanley Hospital with confidence and courage and here he is. He started to tap and catch a ball, he can take out mobile from his pocket and talk, he can move his hand to mouth to eat.</p>
                <p>It will take two years for complete rehabilitation.</p>
                <p>Dean of a Government Stanley Medical College hospital, recalled how they made arrangements to fly Narayanasamy from Madurai to Chennai after the family of brain dead person agreed to donate his hands.</p>
                <p>Now Narayanasamy is eagerly waiting to get back home.</p>
                <p>Big thank you to the family of the deceased showed their will and courage to donate both the hands to a person who is in need , now Narayanasamy will start a new lease of Life again.</p>
            </div>

        </div>
    </div>
  </section>

  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

      <div class="row g-5">

        <div class="col-lg-12" data-aos="fade-up" data-aos-delay="200">

          <article class="blog-details">
            <h2 class="title">First Organ Harvesting In Doon Military Hospital</h2>
            <span>September 19, 2018</span>
            <div class="content">
              <p>A soldier was declared Brain dead at Dehradun Military hospital on August 24.</p>
              <p>A transplant team from Delhi harvested the patients Kidneys,liver and eyes.</p>
              <p>A serving soldier was declared Brain dead at Dehradun Military hospital. A team of specialised transplant from Army hospital in Delhi rushed to Dehradun by Indian Air Force aircraft and harvested the kidneys, liver and eyes.</p>
              <p>The organs with transplant team were moved to Jolly Grant Airport by a dedicated green corridor established by the city traffic police and was flown to Delhi.</p>
              <p>The harvested organs were transplanted to three patients and visions of two patients were restored at the Delhi Army hospital.</p>
              <blockquote >
                *Salute* to the *soldier* and to the entire team of our Military *doctors* into giving a new lease of life to the people in need.
              </blockquote>
            </div>

        </div>
    </div>
  </section>

  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

      <div class="row g-5">

        <div class="col-lg-12" data-aos="fade-up" data-aos-delay="200">

          <article class="blog-details">
            <h2 class="title">A 74-year-old brain-dead man’s family kept his last wish</h2>
            <span>August 23, 2016</span>
            <div class="content">
              <p>NOIDA (INDIA):A 74-year-old “brain-dead” man’s family kept his last wish by donating his kidneys and liver – giving a fresh lease of life to three others. Pawan Kumar, a resident of Kavi Nagar in Ghaziabad, died at a private hospital in Noida on Monday, following a blood clot in his brain.</p>
              <p>Two of his organs – a kidney and the liver – were harvested in the hospital and transplanted on two patients in the same hospital, while a green corridor was created to ferry another kidney to another hospital for transplant.</p>
              <p>While one kidney was donated to a 63-year-old man, the other one was transplanted in a 39-year-old woman, who had been on dialysis for the past two years.</p>
              <p>In fact, Kumar, a resident of Kavi Nagar in Ghaziabad, was admitted first to a private hospital in Ghaziabad. After his condition worsened, he was shifted to Jaypee Hospital in Noida’s Sector 128 on Sunday night. “The patient was suffering from a blood clot in the brain. He was not responding to medical care and was declared brain dead due to haemorrhage on Monday,” said senior consultant, renal transplant at Jaypee. After Kumar’s family members told doctors that he had wished to donate his organs after his death, they contacted the National Organ and Tissue Transplant Organisation (NOTTO) about harvesting of the organs. The NOTTO told the hospital to use the liver and one kidney for two patients in Jaypee Hospital and the other kidney to be transplanted to another patient in Fortis hospital in Sector 62.</p>
              <p>Devra said the hospital transplanted the harvested kidney to a 63-year-old patient. “The patient was looking for a suitable donor for the past four years. We are in the process of transplanting the liver to another patient in Jaypee Hospital,” he said. The hospital did not share the identities of the two receivers. Meanwhile, the Jaypee Hospital and Fortis Hospital coordinated for a safe and smooth transportation of another kidney. The police was also informed about the same.</p>
              <p>Dinesh Yadav, SP (city), said the police established a green corridor between the two hospitals in the afternoon. “We provided an escort vehicle with the ambulance, which was carrying the harvested organ. The ambulance left Jaypee Hospital at 12.07 pm and reached Fortis at 12.24 pm. The 16km busy route was covered in 17 minutes,” Yadav said.</p>
              <p>The recipient of the kidney at Fortis Hospital is 39-year-old Sharda Devi, who was on dialysis for the past two years. “We are happy that he was able to give a new lease of life to three persons,” said a family member of the donor.</p>
            </div>

        </div>
    </div>
  </section>

  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

      <div class="row g-5">

        <div class="col-lg-12" data-aos="fade-up" data-aos-delay="200">

          <article class="blog-details">
            <h2 class="title">Brain-dead patient from Yamunanagar India gives new lease of life to 5</h2>
            <span>June 8, 2016</span>
            <div class="content">
              <p>18-year-old Anju Dhiman’s organs were transplanted into five recipients at the PGI, Chandigarh India.</p>
              <p>“When she was a child, she would share her eatables and toys. Now even in her death she has saved many lives,” said Surinder Dhiman, uncle of 18-year-old Anju Dhiman, who became the latest brain-dead patient to give a new lease of life to five people at PGI on Sunday. Five of her organs were transplanted into five recipients at the institute.</p>
              <p>According to doctors, Anju, a first-year commerce student from Yamunanagar in Haryana, met with an accident in her hometown last week. She suffered head injuries. Initially, she was taken to a local hospital from where she was referred to PGI on June 3. One of the doctors said she was declared brain-dead on Sunday morning.</p>
              <p>PGI doctors said that the retrieval process started in the morning, and kidneys, liver and corneas were retrieved. “The organs were then successfully transplanted into five patients,” said the doctor.</p>
              <p>Ramesh Dhiman, the father of the deceased, said that Anju continued in her death what she was doing when she was alive. “The parents of the deceased took the decision so that needy people who want these organs live a prosperous and new life,” said a family member.</p>
              <p>The doctors said the family was aware of organ donation and it was not a difficult task for the coordinators to convince them. “They family quickly gave their consent about the organ donation,” said a PGI official.</p>
            </div>

        </div>
    </div>
  </section>

  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

      <div class="row g-5">

        <div class="col-lg-12" data-aos="fade-up" data-aos-delay="200">

          <article class="blog-details">
            <h2 class="title">Number of heart transplants has gone up this year</h2>
            <span>May 9, 2016</span>
            <div class="content">
              <p>The Number of heart transplants has gone up this year at the All India Institute of Medical Sciences (AIIMS) which conduct seven transplants in four month. Last year five transplants were conducted.</p>
              <p>A 16 year old boy from Faridabad underwent treatment at AIIMS for dilated cardiomyopathy, a condition in which the ability of the heart muscles to pump blood decreases. The only course of treatment for him was a heart transplant.
After waiting for six months he was asked to prepare for surgery last week when the doctors at AIIMS came to know of a possible donor in Jaipur. “ it was opportunate that the boy got his heart, otherwise he would have died in a month “ Said doctor.</p>
<p>Six of the seven hearts that were transplanted this year were from medical colleges and hospitals outside Delhi. The hearts for all five transplants that happened last year were harvested at AIIMS itself.</p>
<p>The number of transplants, heart as well as other organs, has gone up in the city. The presence of NOTTO ( National Organ and Tissue Transplant Organisation ) has improved co-ordination. That along with personal networks of doctors conducting transplants, support of other government machinery like traffic police and awareness has helped.</p>
            </div>

        </div>
    </div>
  </section>

  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

      <div class="row g-5">

        <div class="col-lg-12" data-aos="fade-up" data-aos-delay="200">

          <article class="blog-details">
            <h2 class="title">17 year old accident victim save many lives</h2>
            <span>January 8, 2016</span>
            <div class="content">
              <p>The Delhi traffic police simultaneously transported the heart and the liver of a 17 year old accident victim from west Delhi’s Shalimar Bagh to Saket and Vasant Kunj on Thursday, covering 32km in just 45 minutes and 27 seconds.</p>
              <p>Police officers and doctors accompanying the harvested organs, said that fewer vehicles on the road made this a perfect operation .</p>
              <p>Two ambulances, accompanied by two traffic teams were used for the operation. The one carrying the liver set out from Max hospital, Shalimar Bagh at 9.50am while the other with the heart started at 10.20am and reached Max hospital Saket at 11.05am.</p>
              <p>This is the 10th time that the traffic police has successfully cleared a green corridor. However this time the distance covered was more and the time taken lesser.</p>
              <p>The heart was transplanted in 46 year old woman from Najafgarh who had end-stage heart failure.</p>
              <p>The kidneys were used at Max hospital Shalimar Bagh itself, while the liver was transported to ILBS and the Corneas went to AIIMS.</p>
              <p>In a matter of four hours the heart has to be harvested has to be taken to another hospital and has to be transplanted and revived. Time is of utmost importance when it comes to heart transplant. A delay of an hour might also make the heart unviable, said doctor.</p>
            </div>

        </div>
    </div>
  </section>

  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

      <div class="row g-5">

        <div class="col-lg-12" data-aos="fade-up" data-aos-delay="200">

          <article class="blog-details">
            <h2 class="title">A 48 year old man battling for life</h2>
            <span>January 6, 2016</span>
            <div class="content">
              <p>A 48 year old man battling for life at institute of Liver and Biliary Sciences (ILBS) in Vasant Kunj received a new lease of life on Sunday, thanks to well-coordinate efforts of the doctors and police of Indore and Delhi.</p>
              <p>While the doctors acted quickly to convince the family of 20 year old women declared brain dead at Indore based private hospital and later harvest her organs, the police ensured the live organ is transported quickly by creating GREEN CORIDORS.</p>
              <p>According to officials, “Green corridors” were created twice in Indore with the help of the traffic police and district administration, from a private hospital at Choithram crossing to the airport for transporting the Heart and Liver donated by women’s family. In Delhi, the traffic police gave the ambulance carrying the organ quick passage for quick transportation.</p>
              <p>“The Liver was harvested by a team of doctors from ILBS and it was flown to Delhi airport at 9.30am on Sunday. It reached ILBS within 15 minutes and within an hour, the transplant process had begun”, said ILBS spokes person. He said the recipient came out of operation theater at around 5pm. “ The operation is successful”, said doctors. The donor Heart, doctors said, was taken to Mumbai where transplant was conducted to save the life another patient suffering from end stage Heart failure.</p>
            </div>

        </div>
    </div>
  </section>






</main><!-- End #main -->

{% endblock %}
