{% extends 'layouts.html' %}
{% load static %}
{% block title %}
Our Inspirations
{% endblock %}
{% block style %}
<style media="screen">
  section{
    padding:2rem 0;
  }
  .blog-details span{
    color: #413F42;
font-weight: 900;
font-style: italic;
font-size: 1rem;
  }
</style>
{% endblock %}
{% block content %}
<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs d-flex align-items-center" style="background-image: url('/static/img/about-header.jpg');">
    <div class="container position-relative d-flex flex-column align-items-center">

      <h2>Our Inspirations</h2>
      <ol>
        <li><a href="{% url 'home'%}">Home</a></li>
        <li>Our Inspirations</li>
      </ol>

    </div>
  </div><!-- End Breadcrumbs -->


  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

      <div class="row g-5">

        <div class="col-lg-12" data-aos="fade-up" data-aos-delay="200">

          <article class="blog-details">
            <h2 class="title">PDG Ravi Choudhary</h2>
            <span>(District 3011)</span>
            <div class="content">
            <div class="row">
              <div class="col-md-2">
                  <img src="{% static 'img/inspirations/ravi_chaudhary.jpg'%} " alt="" class="img-fluid">

              </div>
              <div class="col-md-10">

                <p>Organ donation is the most generous gift that any person can give to help someone live even after your death. It is appalling to see such a low level of organ donors in India. The need of the hour is to understand that one person can donate up to seven organs after death. Organ donation is a life-saving gift that we can all give to our fellow countrymen  and it costs us nothing. Let’s look at it as enabling another person live even after our death.</p>

            </div>

        </div>
    </div>
  </section>

  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

      <div class="row g-5">

        <div class="col-lg-12" data-aos="fade-up" data-aos-delay="200">

          <article class="blog-details">
            <h2 class="title">IPDG Vinay Bhatia</h2>
            <span>(District 3011)</span>
            <div class="content">
              <blockquote>
                <p>“Don’t take your organs to heaven. Heaven knows we need them here.” </p>
              </blockquote>
            <div class="row">
              <div class="col-md-10">
              <p>I am the person I am today because of Rotary and to be a member of the Rotary family is to be a part of something much bigger than yourself. It means that you are part of a worldwide team; together, we have provided extraordinary service to the world.</p>
              <p> Today, our world is depending on us to do even more. Now is the time to capitalize on our success and to catapult Rotary forward to be an even greater force for good in the world. To do this, we must work together. Remember that today is the first day of the rest of your life, and how you spend it is up to you.</p>
              <p>Punita joins me in wishing you all a great year of learning as you start this exciting journey of service. </p>
            </div>
            <div class="col-md-2">
              <!-- <div class="post-img"> -->
                <img src="{% static 'img/inspirations/vinay_bhatia.jpg'%} " alt="" class="img-fluid">
              <!-- </div> -->
            </div>

        </div>
    </div>
  </section><!-- End Blog Details Section -->

  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

      <div class="row g-5">

        <div class="col-lg-12" data-aos="fade-up" data-aos-delay="200">

          <article class="blog-details">
            <h2 class="title">PDG  Dr N. Subramanian</h2>
            <span>DG, RI Dist. 3011</span>
            <div class="content">
            <div class="row">
              <div class="col-md-2">
                  <img src="{% static 'img/inspirations/dr_subra.jpg'%} " alt="" class="img-fluid">

              </div>
              <div class="col-md-10">
                <p>The value of your work on organ and body donation is admirable. As a surgeon who is aware of the need for organ transplantation, the  very small proportion of the large number requiring transplant actually managing it and the substantial change in quality of life after transplant, your contribution to this area is of immense value.</p>
                <p>The national average of less than 10000 kidney transplants per year when compared to the need for 100000 is worrying. Similarly, a large proportion of corneal blindness can have their eyesight restored by corneal grafts commonly called keratoplasty.</p>
                <p>Working at a hospital performing the largest number of liver transplantation in the south Asian region, I see the transformation TN the quality of life.</p>
                <p>Cadaveric transplantation, which is ideal and constitutes a large percentage of transplants in the developed world, seems to be poorly received in our country, particularly in the Northern states.</p>
                <p>Creating awareness and improving understanding of the medical and legal aspects of this process and it's inherent benefits in of paramount value.</p>
                <p>I am only expressing an opinion, which I am sure is shared by many in the medical profession. Keep up the good work. We will be delighted to be of any assistance you may require.</p>

            </div>

        </div>
    </div>
  </section>

  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

      <div class="row g-5">

        <div class="col-lg-12" data-aos="fade-up" data-aos-delay="200">

          <article class="blog-details">
            <h2 class="title">DG Sanjiv Rai Mehra </h2>
            <span>(2020-21) RI District 3011</span>
            <div class="content">
              <blockquote>
                <p> “Without the organ donor there is no story, no hope, no transplant. But when there is a organ donor, life springs from death, sorrow turns to hope and a terrible loss becomes a gift.” </p>
              </blockquote>
            <div class="row">
              <div class="col-md-10">
                <p>A father recently donated the heart of his young daughter who had died in a terrible car accident to a critically ill patient suffering from a damaged heart.  Thus giving life to another young person who would otherwise have died.</p>
                <p>Little does one realize that the gift of life given to us by the lord above can be prolonged for many years beyond our life cycle by donating our organs.  While we can donate  six life saving organs and give hope of life to the donation recipients, but also donate other parts like eyes, tissues etc  and thus benefit seventy five lives in all. WE give sight to two blind persons and open opportunities of colour in their lives.</p>
                <p> As Rotarians it is our duty to spread the word about the immense benefits of organ donation and open opportunities of hope and joy for the otherwise hopeless.</p>
                <p>Let us unite and take action to bring the joy of lasting change in the attitude of the public to donate their organs.”</p>
            </div>
            <div class="col-md-2">
              <!-- <div class="post-img"> -->
                <img src="{% static 'img/inspirations/sanjiv_rai_mehra.jpg'%} " alt="" class="img-fluid">
              <!-- </div> -->
            </div>

        </div>
    </div>
  </section><!-- End Blog Details Section -->

  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

      <div class="row g-5">

        <div class="col-lg-12" data-aos="fade-up" data-aos-delay="200">

          <article class="blog-details">
            <h2 class="title">Sudarshan Agarwal</h2>
            <span>Former Governor – Uttarakhand & Sikkim | Past Director – Rotary International | Past President Rotary Blood Bank</span>
            <div class="content">
            <div class="row">
              <div class="col-md-2">
                  <img src="{% static 'img/inspirations/sudarshan_agarwal.jpg'%} " alt="" class="img-fluid">

              </div>
              <div class="col-md-10">
                <p>Organ Donation is blissful.  What could be more satisfying than to donate one’s organs after death to give a new lease of life to another person.  To be useful to society even after death is a divine act.  I would encourage every person to consider donating organ(s) after death for transplant on needy people.</p>
                <p>This organization is doing yeoman service to encourage people to donate organs.  They need our support.</p>

            </div>

        </div>
    </div>
  </section>

  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

      <div class="row g-5">

        <div class="col-lg-12" data-aos="fade-up" data-aos-delay="200">

          <article class="blog-details">
            <h2 class="title">PDG Sudhir Mangla</h2>
            <span>RI Dist. 3011</span>
            <div class="content">

            <div class="row">
              <div class="col-md-10">
                <p>“Take the decision today to become an organ and tissue donor and give the gift of life. This is the best gift you can do. Come forward and donate what you won’t need after you are gone but it will give a new gift of life to someone who needs an organ transplant.</p>
                <blockquote>
                  "Donate your organs and tissues and ‘Be a Gift to the World’.”
                </blockquote>
              </div>
            <div class="col-md-2">
              <!-- <div class="post-img"> -->
                <img src="{% static 'img/inspirations/sudhir_mangla.jpg'%} " alt="" class="img-fluid">
              <!-- </div> -->
            </div>

        </div>
    </div>
  </section><!-- End Blog Details Section -->
</main><!-- End #main -->

<section id="blog" class="blog">
  <div class="container" data-aos="fade-up">

    <div class="row g-5">

      <div class="col-lg-12" data-aos="fade-up" data-aos-delay="200">

        <article class="blog-details">
          <h2 class="title">PDG Sharat Jain</h2>
          <span>(Dist-3012) 2016-17.</span>

          <div class="content">
          <div class="row">
            <div class="col-md-2">
                <img src="{% static 'img/inspirations/sharat_jain.jpg'%} " alt="" class="img-fluid">

            </div>
            <div class="col-md-10">
              <p>What better gift can someone give after his/her death than to kindle someone else’s life. As an organ donor you can light up a distressed household which has lost all hopes, live beyond your life by simply registering to be an organ donor, it costs nothing, please do it today.</p>
          </div>

      </div>
  </div>
</section>

{% endblock %}
