{% extends 'layouts.html' %}
{% load static %}
{% block title %}
Why Donate
{% endblock %}
{% block style %}
<style media="screen">

</style>
{% endblock %}
{% block content %}
<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs d-flex align-items-center" style="background-image: url('/static/img/about-header.jpg');">
    <div class="container position-relative d-flex flex-column align-items-center">

      <h2>Why Donate</h2>
      <ol>
        <li><a href="{% url 'home'%}">Home</a></li>
        <li>Why Donate</li>
      </ol>

    </div>
  </div><!-- End Breadcrumbs -->


  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

      <div class="row g-5">

        <div class="col-lg-12" data-aos="fade-up" data-aos-delay="200">

          <article class="blog-details">



            <h2 class="title">Why Donate</h2>


            <div class="content">
              <blockquote>
                <p>You will be surprised to know that an individual has the capacity to save upto 8 lives and can help up to 50 people through tissue and organ donation, and can improve the living conditions of many through tissue donation.</p>
              </blockquote>

            <div class="row">
              <div class="col-md-6">
                <!-- <div class="post-img"> -->
                  <img src="{% static 'img/7.jpg'%} " alt="" class="img-fluid">
                <!-- </div> -->
              </div>

              <div class="col-md-6">
                <!-- <div class="content"> -->

                <p>
                  In India, every year, uncountable number of people die just because of unavailability of donors for transplant. Everyday we come across the cases of accidents and people dieing because of non functioning of their vital organs.
                </p>
                <p><b>But the reason for their death is not the accident.</b></p>
                <p>They die because they don’t have a healthy organ to keep them alive.</p>
                <p>Its a boon to the mankind that Science have now given us the privilege to save the life of those people who die because of organ failure. With the procedure of transplantation it is now possible to save such lives. But the problem lies with the availability of suitable donors.</p>

              <!-- </div> -->
            </div>


        </div>

        <p>Suitable donor means an individual whose blood group along with other medical considerations, matches with that of the recipient’s (who is seeking organ). The facts considered to find a suitable donor are:</p>
        <p><ul>
          <li>Blood and tissue type</li>
          <li>Size of the organ</li>
          <li>Medical urgency of the patient’s illness</li>
          <li>Time already spent on the waiting list</li>
          <li>Distance between donor and recipient</li>
        </ul></p>


    </div>
  </section><!-- End Blog Details Section -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">


      <div class="row gy-4" data-aos="fade-up">
        <div class="col-lg-4">
          <img src="{% static 'img/8.jpg'%} " class="img-fluid" alt="">
        </div>
        <div class="col-lg-8">
          <div class="content ps-lg-5">
            <h3></h3>
            <p style="color:#000;">
              It is also true that there are some pathological tests that needs to be done before confirming the transplantation. If the reports are appropriate, then the transplantation will be conducted.
            <br><br>This means that for conducting a transplantation, there has to be a suitable donor for the patient. Which clearly implies that anyone of us may be carrying a hope for someone who wants to live.
          <br><br>If you still dont’ find a reason to donate then we will give you some…</p>
            <ul>
              <li><i class="bi bi-check-circle-fill"></i> Be a source of life.. <br>There are thousands of people who are waiting for a suitable donor to continue their life. By donating we can be a source of hope for those thousands of waiting eyes.</li>
              <li><i class="bi bi-check-circle-fill"></i> For the recipient’s… <br>The transplanted recipients gets a second chance at life with improved quality and no dependency. This shows every human is born with a power to make someone live independently and happily.</li>
              <li><i class="bi bi-check-circle-fill"></i> For you and your family… <br>A donor and his family simultaneously gets a chance to be a part of such deed where you feel proud on yourself for creating a life after yours. The family of the donor also have the same feeling for their loved one that during his/her lifetime, they have achieved the courage to use their power in a productive way.</li>
            </ul>
            <p style="color:#000;">This clears the reason why one should donate. So, use your power to bring the light in lives of people seeking help and be a part of it….</p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->


</main><!-- End #main -->

{% endblock %}
